@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

:root {
    --grid-sides-padding: 25px;

    --main-dark-color: #65a30d;
    --light-color-head: #f7fee7;
    --light-color-main: #ecfccb;
    --dark-color-other: #4d7c0f;
    --light-color-other: #d9f99d;
}

* {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

/* body {
   
} */

#container {
    height: 100vh;
    width: auto;

    display: grid;
    grid-template: 1fr 5fr / 15% 85%;
}

#sidebar {
    padding: 15px 30px 0px 0px;
    grid-area: 1 / 1 / 3 / 2;

    display: inherit;
    grid-template-rows: repeat(3, min-content);
    gap: 50px;

    background-color: var(--main-dark-color);
    color: var(--light-color-head);
}

#nav,
#help {
    display: inherit;
    gap: 15px;
    grid-auto-rows: max-content;
}

#dashboard-header, 
.nav-option {
    width: 100%;
    display: inherit;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#dashboard-icon {
    width: 4em;
}

#dashboard-header > h2,
.username {
    font-weight: 600;
}

#dashboard-icon,
.nav-icons {
    filter: invert(98%) sepia(6%) saturate(585%) hue-rotate(28deg) brightness(98%) contrast(107%);
    height: auto;
}

#dashboard-header > h2,
.nav-option > div {
    align-self: center;
    justify-self: start;
}

.nav-icons {
    width: 2em;
}

#header {
    padding: var(--grid-sides-padding) calc(var(--grid-sides-padding)*3) 15px 30px;
    grid-area: 1 / 2 / 2 / 3;

    display: inherit;
    grid-template: 1fr 2fr / 2fr 1fr;
    row-gap: 20px;
    background-color: var(--light-color-head);
}

#header > div {
    display: flex; 
    align-items: center;
}

#search-bar,
#header > div:nth-child(3) {
    gap: 15px;
}

#search-icon,
#notif-icon {
    width: 1.5em;
    height: auto;
}

input[type="search"] {
    height: min-content;
    width: 95%;
    padding: 3px 7px;

    appearance: none;
    border: none;
    border-radius: 15px;
    background-color: var(--light-color-other); 
}

input[type="search"]:focus {
    outline: none;
    background-color: #d6e5b7;
    border: 3px solid var(--dark-color-other);
}

input[type="search"]:hover {
    background-color: #d6e5b7;
}

#user-info,
#header > div:nth-child(4) {
    justify-content: end;
}

#user-info {
    gap: 20px;
}

img[alt="profile-pic"] {
    border-radius: 50%;
    width: 2em;
}

#header > div:nth-child(3) > img[alt="profile-pic"]  {
    width: 3em;
    height: 3em;
}

#header > div:nth-child(4) {
    gap: 30px;
}

.user-buttons {
    height: min-content;
    padding: 10px 25px;

    appearance: none;
    border: none;
    border-radius: 20px;
    background-color: var(--main-dark-color); 
}

#main-content {
    padding: 10px var(--grid-sides-padding) var(--grid-sides-padding) 20px;
    grid-area: 2 / 2 / 3 / 3;

    display: inherit;
    gap: 40px 20px;
    grid-template: repeat(2, max-content) / 3fr 1fr;

    background-color: var(--light-color-main); 
}

#projects {
    height: 100%;
    grid-area: 1 / 1 / 3 / 2;
}

#main-content > div > h4{
    margin-bottom: 10px;
}

#project-cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-auto-rows: max-content;

    /* overflow: auto; */
}

.project-card {
    width: 100%;
    height: max-content;

    display: inherit;
    grid-template-columns: 1% 99%;

    background-color: var(--light-color-head); 
}

.left-line {
    background-color: var(--dark-color-other); 
}

.project-card > div:nth-child(2) {
    padding: 20px;
}

.project-pages {
    color: black;
    text-decoration: none;
}

.action-icons {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.action-icons > img {
    width: 1.2em;
}

#announcements,
#trend-box {
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
}

#announcements {
    gap: 10px;

    background-color: var(--light-color-other); 
}

.announcement > h5 {
    margin-bottom: 1px;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;

    margin: 10px 0px;
}

#trend-box {
    gap: 20px;

    background-color: var(--light-color-other); 
}

.trend {
    display: inherit;
    gap: 15px;
    align-items: center;
}

.other-profiles {
    border-radius: 50%;
}